## Create a Spark Session:
`.config("spark.ui.port", "4040")` creates a Spark UI under Port 4040

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("NYC Taxi Insights") \
    .master("local[*]") \
    .config("spark.ui.port", "4040") \
    .getOrCreate()

### Reduce number of partitions for low-level PCs

In [2]:
# Standardwert ist 200
spark.conf.get("spark.sql.shuffle.partitions")
# -> '200'

'200'

In [3]:
# Anpassung
spark.conf.set("spark.sql.shuffle.partitions", "20")

### load data

In [4]:
df = spark.read.parquet("C:/Data/NYC_TLC_Trip_Records/yellow_tripdata_2025-01.parquet")
df.printSchema()
df.show(5)

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [5]:
import os

total_size = 0
directory = r"C:\Data\NYC_TLC_Trip_Records"

for filename in os.listdir(directory):
    filepath = os.path.join(directory, filename)
    if os.path.isfile(filepath):
        size_mb = os.path.getsize(filepath) / (1024 * 1024)  # in MB
        print(f"{filename:40} {size_mb:10.2f} MB")
        total_size += size_mb

print(round(total_size),"MB")

yellow_tripdata_2025-01.parquet               56.42 MB
yellow_tripdata_2025-02.parquet               57.55 MB
yellow_tripdata_2025-03.parquet               66.72 MB
181 MB

In [6]:
from pyspark.sql.functions import col, count, avg, max, min

# Anzahl der Fahrten
total_trips = df.count()

# Durchschnittliche Distanz und Dauer
avg_distance = df.agg(avg("trip_distance")).first()[0]
avg_fare = df.agg(avg("fare_amount")).first()[0]

print(f"üöñ Gesamtfahrten: {total_trips:,}")
print(f"üìè Durchschnittliche Distanz: {avg_distance:.2f} miles")
print(f"üíµ Durchschnittlicher Fahrpreis: ${avg_fare:.2f}")

üöñ Gesamtfahrten: 3,475,226
üìè Durchschnittliche Distanz: 5.86 miles
üíµ Durchschnittlicher Fahrpreis: $17.08

In [ ]:
from pyspark.sql.functions import hour, dayofweek

# Anzahl Fahrten pro Stunde
trips_per_hour = df.withColumn("hour", hour("tpep_pickup_datetime")) \
    .groupBy("hour").count().orderBy("hour")
trips_per_hour.show()

In [ ]:
import matplotlib.pyplot as plt

# Fahrten pro Stunde
pdf = trips_per_hour.toPandas()

plt.figure(figsize=(10,5))
plt.bar(pdf["hour"], pdf["count"], color="steelblue")
plt.xlabel("Stunde des Tages")
plt.ylabel("Anzahl Fahrten")
plt.title("NYC Yellow Taxi: Fahrten pro Stunde")
plt.show()

In [ ]:
pickup_counts = df.groupBy("PULocationID").count().orderBy(col("count").desc())
pickup_counts.show(10)